html, body, div, button, {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	line-height: 1;
}

#wrapper {
	width: 80%;
	min-width: 750px;
	height: 100%;
	background:
		-webkit-radial-gradient(
		#cc0000 50%, #800000 70%, #660000 95% );
	background:
		-moz-radial-gradient(
		#cc0000 50%, #800000 70%, #660000 75% );
	background:
		-o-radial-gradient(
		#cc0000 50%, #800000 70%, #660000 75% );
	background:
		-ms-radial-gradient(
		#cc0000 50%, #800000 70%, #660000 75% );
	background: 
		radial-gradient (
			#cc0000 50%, #800000 70%, #660000 95%);	
	border-radius: 15px;
	margin: 20px auto;
	padding-bottom: 20px;
	text-align: center;
	box-shadow: inset 5px 5px 15px black, inset 5px 5px 10px #fff, inset -5px -5px 15px black;
}

#screen {
	background-color: #adcc51;
	width: 75%;
	margin: 1em auto;
	border-radius: 10px;
}

#inner {
	overflow: hidden;
	height: 1%;
	display: inline-block;
	margin: auto;
	border: 1px solid #83993e;
}

#left {
     font-family: "Pacifico", "Arial Black", Arial;
    position: absolute;
    left: 150px;
    top: 115px;
    z-index: 1;
}

#leftTwo {
    
    font-family: "Pacifico", "Arial Black", Arial;
    position: absolute;
    left: 150px;
    top: 515px;
    z-index: 1;
}



#right {
    
    font-family: "Pacifico", "Arial Black", Arial;
	float: right;
	margin-right: -4em;
	clear: left;
}

#right2{

    font-family: "Pacifico", "Arial Black", Arial;
	float: right;
	margin-right: 2em;
	margin-top: 30em;
	clear: left;
}

h1 {
	color: #FFCC00;
	font-family: "Pacifico", "Arial Black", Arial;
	font-weight: 200;
	font-size: 2em;
	padding-top: 0.5em;
	text-shadow: 1px -1px #333, 2px -3px #111, -1px 1px #aaa;
}

button {
	background-color: #ffffb2;
	border-radius: 50%;
	height: 4em;
	width: 4em;
	font-family: "Courier New", Courier, Monospace;
	font-weight: bold;
	box-shadow: 4px 6px 10px #111;
}